body {
   font-family: 'Glegoo', serif;
}

a {
   text-decoration: none;
}

header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

/*********************************************
max width img
*********************************************/


img{
    max-width: 100%;
}


  #wrapper {
    max-width: 940px;
    margin: 0 auto;
    background-color: lightsteelblue;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Glegoo', serif;
    margin: 15px 0;
    font-size: 2.75em;
}
h2{
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
   
}

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

body{
    background-color: white;
    color: black;
}

footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: darkviolet;
    clear: both;
}

.social-media-icon{
    width: 30px;
    height: 30px;
    margin:  5px;
}

#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #ccc;
    color: aqua;
}

#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #000; 
    
}

a{
    color: black;
}

header{
    background: lightblue;  
}
h1, h2{
    color: black;
}
nav{
    background: linen;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a{
    font-weight: 500;
    padding: 15px 10px;
}

.profile-photo{
   margin: 0;
    padding: 0;
    list-style: none;
}

.contact-info li.my_mail_logo a {
    background-image: url('. ./img/my_mail_logo.png')
    
}
.contact-info li.th a {
    background-image: url('. ./img/th.jpg')
    
}




nav a, nav a:visited{
    color: black;
}
nav a.selected {
    color: black;
    
}

@media screen and(min-width:480px){
    #primary{
        width: 50%;
        float: left;
        
    
}

#secondary{
    width: 40%;
    float: right;
  }

}

#gallery li{
    width: 28.3333%;
    
} 

#gallery li:nth-child(4n){
    clear: left;
}

 .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
  }
.contact-info li.mail a {
    background-image: url('. ./img/mail.png')
    
}

 h2{
     font-size: 0.900em;
     margin-bottom: 20px;
     margin-top: 10px;
 }
 
 
  h1{
     font-size: 2.5em;
 }
 header{
     border-bottom: 5px solid black;
     margin-bottom: 60px;
 }
     